*,
*::before,
*::after {
    box-sizing: border-box; 
}

html, body, #__next {
    height: 100%;
    font-family: 'Inter';
}

body {
    background: blue;
    padding: 10px;
    background: linear-gradient(-45deg, #FB13E8, #00FFFF);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#__next {
    background: #131313;
}

.wrapper {
    display: inline;
}

img {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 60px;
    transition: opacity 0.2s linear;
}

ul {
    color: white;
    position: absolute;
    top: 50px;
    right: 65px;
    font-family: 'Inter';
    font-size: 1rem;
}

ul.mobile-nav-links {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 40px;
}

.mobile-nav-links li {
    display: block;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5rem;
}

.mobile-nav {
    position: absolute;
    visibility: hidden;
    right: 48px;
    top: 38px;
    z-index: 100;
}

.container {
    transition: all 1s linear;
}

.container.container-opened {
    display: none;
}

.container.container-opened.mobile-nav-opened {
    display: flex;
}

.container.visibly-hidden {
    opacity: 0;
}

.container.moebile-nav-open.visible {
    opacity: 1;
}

.bar-one,
.bar-two,
.bar-three {
    width: 2rem;
    height: 0.15rem;
    background: white;
    border-radius: 10px;
    transition: all 0.2s linear;
    position: relative;
    transform-origin: 1px;
    margin-top: 8px;
}

.bar-one {
    transform: rotate(0);
}

.mobile-nav-open .bar-one {
    transform: rotate(45deg);
}

.mobile-nav-open .bar-two {
    opacity: 0;
}

.mobile-nav-open .bar-three {
    transform: rotate(-45deg);
}

a {
    color: white;
    text-decoration: none;
    transition: opacity 1s linear;
}

a:hover {
    opacity: 80%;
}

a:active {
    opacity: 100%;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    transition: opacity 1s linear;
}

.container.mobile-nav-open.visbly-hidden, .container.mobile-nav-closed.visbly-hidden, .logo.mobile-nav-open {
    opacity: 0;
}

.container.mobile-nav-closed.visible, .container.mobile-nav-open.visible, .logo.mobile-nav-closed {
    opacity: 1;
}

.content {
    color: white;
    align-self: center;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-family: 'Obvia';
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    opacity: 70%;
    margin-top: 8px
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1rem;
        margin-top: 2px;
    }

    img {
        display: block;
        left: 50%;
        margin-left: -30px;
        top: 45px;
    }

    .desktop-nav {
        visibility: hidden;
    }

    .mobile-nav {
        visibility: visible;
    }

}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

}




@font-face {
    font-family: 'Obvia';
    src: url('asset/Obvia-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('asset/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('asset/Inter-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}